lib/flows/flows_macbookprohans3.amsiic.ibm.com.json
[{"type":"tab","id":"4278dfe1.eff9d","label":"Sheet 1"},{"id":"9f5e93ef.60a17","type":"mqtt-broker","broker":"5.153.17.246","port":"1883","clientid":""},{"id":"3e768f58.74e0a","type":"inject","name":"","topic":"","payload":"#stop","payloadType":"string","repeat":"","crontab":"","once":false,"x":251,"y":144,"z":"4278dfe1.eff9d","wires":[["79f2b479.3273f4"]]},{"id":"79f2b479.3273f4","type":"function","name":"ControlDrone","func":"client = context.global.drone;\nswitch (msg.payload) {\ncase \"#takeoff\":\n\tclient.disableEmergency();\n\tclient.takeoff();\n\tbreak;\ncase \"#land\":\n\tclient.stop();\n\tclient.land();\n\tbreak;\ncase \"#up\":\n\tclient.up(0.05);\n\n\tbreak;\ncase \"#down\":\n\tclient.down(0.05);\n\n\tbreak;\ncase \"#forward\":\n\tclient.front(0.1);\n\n\tbreak;\ncase \"#back\":\n\tclient.back(0.1);\n\n\tbreak;\ncase \"#left\":\n\tclient.left(0.1);\n\n\tbreak; \ncase \"#right\":\n\tclient.right(0.1);\n\n\tbreak;\ncase \"#clockwise\":\n\tclient.clockwise(0.05);\n\tbreak;\ncase \"#cclockwise\":\n\tclient.counterClockwise(0.1);\n\tbreak;\ncase \"#stop\":\n\tclient.stop();\n\tbreak;\ncase \"mention\":\n\tclient.animateLeds('snakeGreenRed', 5, 2);\n\tclient.animate(wave, 2000);\n\tbreak;\n}\n\nreturn msg;","outputs":1,"x":501.0000305175781,"y":341,"z":"4278dfe1.eff9d","wires":[["2276827b.9e4976"]]},{"id":"2276827b.9e4976","type":"debug","name":"","active":true,"console":false,"complete":false,"x":856,"y":160.99996948242188,"z":"4278dfe1.eff9d","wires":[]},{"id":"573b078c.181048","type":"mqtt in","name":"","topic":"droneFly","broker":"9f5e93ef.60a17","x":102,"y":341.9999694824219,"z":"4278dfe1.eff9d","wires":[["79f2b479.3273f4"]]},{"id":"6dc331b8.f33aa","type":"inject","name":"","topic":"","payload":"#takeoff","payloadType":"string","repeat":"","crontab":"","once":false,"x":419,"y":148,"z":"4278dfe1.eff9d","wires":[["79f2b479.3273f4"]]},{"id":"aeac3e99.378e8","type":"inject","name":"","topic":"","payload":"#land","payloadType":"string","repeat":"","crontab":"","once":false,"x":105,"y":144,"z":"4278dfe1.eff9d","wires":[["79f2b479.3273f4"]]},{"id":"6cdeeb4e.194834","type":"inject","name":"","topic":"","payload":"#mention","payloadType":"string","repeat":"","crontab":"","once":false,"x":129,"y":521,"z":"4278dfe1.eff9d","wires":[["79f2b479.3273f4"]]}]